@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300";
@import "http://fonts.googleapis.com/css?family=Nunito:400,300";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

html {
    width:100%;
    height:100%
}

body {
    background-color:#DDD;
    font-family:"Open Sans",Arial,sans-serif;
    width:100%;
    height:100%;
    color: #333;
}

hr{
    width: 60vw;
    max-width: 200px;
    height: 2px;

    border-top: 1px solid #667788;
    border-bottom: 1px solid #667788;
}

footer {
    padding-top:5px;
    color:#ffffff;
    text-align:center;
    background-color:#667788;
    height:180px;
}

footer .container {
    padding: 30px 0;
}

footer ul {
    margin: 0 auto;
	padding: 0;
    text-align: center;
    list-style-type: none;
}

footer ul li {
    display: inline-block;
    text-align: center;
    background: #0E58A4;
    margin: 0 6px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

footer ul li:hover {
    background: #777;
}

footer ul li:hover a {
    color: #fff;
}

footer ul li a {
    color: #fff;
}

.footer-link{
    vertical-align: -15%;
}

/*========= NAVIGATION ===========*/

.gradientWrap{
 height: 7px;
    display: block;
    background-color: black;
    background-image: -webkit-linear-gradient(left,#0E58A4 0%, #1271d2 20%, #0E58A4 20.01%, #1271d2 40%, #0E58A4 40.1%, #1271d2 60%, #0E58A4 60.01%, #1271d2 80%, #0E58A4 80.01%, #1271d2 100%);
    background-image: -webkit-gradient(left,#0E58A4 0%, #1271d2 20%, #0E58A4 20.01%, #1271d2 40%, #0E58A4 40.1%, #1271d2 60%, #0E58A4 60.01%, #1271d2 80%, #0E58A4 80.01%, #1271d2 100%);
    background-image: -moz-linear-gradient(left,#0E58A4 0%, #1271d2 20%, #0E58A4 20.01%, #1271d2 40%, #0E58A4 40.1%, #1271d2 60%, #0E58A4 60.01%, #1271d2 80%, #0E58A4 80.01%, #1271d2 100%);
    background-image: -ms-linear-gradient(left,#0E58A4 0%, #1271d2 20%, #0E58A4 20.01%, #1271d2 40%, #0E58A4 40.1%, #1271d2 60%, #0E58A4 60.01%, #1271d2 80%, #0E58A4 80.01%, #1271d2 100%);
}
.navbar {
    background-color:#FFF;
    opacity: 0.94;

}

.navbar-brand {
    padding:10px
}

.navbar-default .navbar-brand {
    color:#333
}

.navbar-nav {
    float:right
}

.navbar-toggle {
    margin:16px 15px 12px 0
}

.navbar-collapse {
    padding-right:45%
}

.navbar-default {
    border-color:#555555
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:#fff
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color:#1271d2;
    text-decoration: underline;
    
}

.navbar-default .navbar-nav>li>a {
    color:#333;
    -webkit-transition:color .4s;
    -moz-transition:color .4s;
    margin:10px 0 0
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {
    color:#428bca;
    -webkit-transition:color .1s;
    -transition:color .1s
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
    color:#1271d2;
    background-color:transparent
}

.container>.navbar-header,.container-fluid>.navbar-header {
    height:70px
}

@media(min-width:767px) {
.navbar {
    -webkit-transition:background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition:background .5s ease-in-out,padding .5s ease-in-out;
    transition:background .5s ease-in-out,padding .5s ease-in-out
}

.top-nav-collapse {
    padding:10px
}
}

/*===== GENERAL CONTENT CLASSES =====*/
.body-container {
    padding:0 0px;
    background-color:#ddd;
    box-sizing:padding-box;
	width: 100%;
    
}
.centered-container {
    width:auto;
    padding:15vh 0 0;
    text-align:center
}

.section-container {
    width:100%;
    padding:100px 0 100px;
    text-align:center;
	max-width:900px;
	margin: auto;
}

.content-section {
    width:92%;
    margin:30px auto;
    padding:20px 40px;
    border: solid #494949 1px;
    background-color:#fff;
    background-color:rgba(255,255,255,.2);   
}

.small-img {
    height:80px;
    margin:10px
}

.expandable-img{
    max-width: 100%;
    max-height: 250px;
    width: auto;
}
/*===== SPECIFIC CLASSES =====*/

/* -- HERO -- */
.hero {
    padding-top:110px;
    padding-bottom:100px;
    background-image:url(../img/texture.png);
    background-attachment: fixed;
    background-position-x: 0%;
    background-position-y: 50%;
    background-repeat:no-repeat;
    background-size: cover;
	height: 100vh;
    background-color:#292929; 
    display: block;
}

.hero-title {
    font-size:12vh;
    font-family:'lato',Arial,sans-serif;
    font-weight:400;
    color: #ffffff;
    padding: 3px 10px;
}



.scroll-down{
    text-align: center;
	height: 48px;
    width: auto;
	padding: 1px;
    display: block;
}

.hero .scroll-down .btn{
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100% !important;
    line-height: 50px;
    padding: 0;
    letter-spacing: normal;
    color: white;
    font-size: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/* -- ABOUT -- */
.myAvatar {
    margin: 10% auto;
    width:88%; /* weird number, i know.. */
	border-radius: 80%;
	border: 1px #fff solid;
	display: block;
	-webkit-box-shadow: -2px -1px 43px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -1px 43px -9px rgba(0,0,0,0.75);
    box-shadow: -2px -1px 43px -9px rgba(0,0,0,0.75);
}

.about-img{
	width: 38%;
	padding-left: 4%;
}

.about-desc{
	width: 60%;    
}

#about-title{
    font-weight: 400;
    margin-left: 0; 
    padding-left: 0;
}

.button, .button:hover, .button:active{
    margin-top: 10px;
	padding:15px;
	color: #fff;
	border: none;
	background: #cc2020;
    border-radius: 0;
}

@media (max-width: 767px) {
.project-container, .project-container:focus, .project-container:hover, .project-container:active{
    display: block;
    overflow: hidden;
}
.fit-img{
    max-height: 200px;
}
.body-container {
    padding:0 0px
}

.hero {
    background-position-y: 60%;
    padding-top: 100px;

}
.about-img{
	width: 50%;
	padding-left: 2%;
}
.about-desc{
	width: 90%;
}
}


/*===== GENERAL TEXT FORMATTING =====*/

strong{
    color: #1271d2;
	font-weight: normal;
}

.thin{
    font-weight: lighter!important;
}

.text-padding{
	padding: 2%;
	display: inline-block;
	vertical-align: middle;
}

.blue{
    color: #1271d2;
}

.red{
    color: #cc2020;
}

.github{
    color: #fff;
    text-shadow: 0px 0px 15px rgba(132,0,255,.4);
}

.github:focus, .github:hover, .github:active{
    color:#fff;
}

input{
	padding:10px;
	width:85%
}

input.button{
	padding:10px;
	width:30%;
	color: #fff;
    background-color: #cc2020;
	margin-bottom: 100px;
}

textarea{
	width: 85%;
	padding:10px;
	height: 150px;
	margin-bottom: 10px;
}

form p {
padding: 0;
margin: 0;
}

form p input, form p textarea {
padding: 15px;
margin: 10px ;
background-color: #555;
border: none;
}

.text-left{
	text-align:left;
}

.text-center{
	text-align: center;
}

.text-justified{
	text-align: justified;
}
	
.section-title {
    font-family: 'lato',Arial,sans-serif;
	font-size: 40px;
    font-weight:300;
    padding:10px 30px;
    color: #ffffff;
    display:inline-block
}
#education .section-title, #experience .section-title{
	color: #cc2020;
}

.subsection-title {
    font-weight:300;
}

.subtitle {
    font-size: 6vh;
    font-family:'lato', Arial,sans-serif;
    padding: 0.5em 20px;
    color: #ffffff;
   	/* display: inline-block; */
}

/* TODO FORMAT */


#about, #projects{
	background-color:  #AABBCC;
    /* #1271d2; */

}
#contact, #skills{
	background-color:#393939;
	overflow: hidden;
}