@import "http://fonts.googleapis.com/css?family=Open+Sans:100,400,300";
@import "http://fonts.googleapis.com/css?family=Nunito:400,300";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

html {
    width:100%;
    height:100%
}

body {
    background-color:#EEE;
    font-family:"Open Sans",Arial,sans-serif;
    font-weight: 100;
    width:100%;
    height:100%;
    color: #333;
}

footer {
    padding-top:5px;
    color:#ffffff;
    text-align:center;
    background-color:#667788;
    height:180px;
}

footer .container {
    padding: 30px 0;
}

footer ul {
    margin: 0 auto;
	padding: 0;
    text-align: center;
    list-style-type: none;
}

footer ul li {
    display: inline-block;
    text-align: center;
    background: #0E58A4;
    margin: 0 6px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

footer ul li:hover {
    background: #777;
}

footer ul li:hover a {
    color: #fff;
}

footer ul li a {
    color: #fff;
}

.footer-link{
    vertical-align: -15%;
}

/*========= NAVIGATION ===========*/

.gradientWrap{
 height: 7px;
    display: block;
    background-color: black;
    background-image: -webkit-linear-gradient(left,#0E58A4 0%, #1271d2 20%, #0E58A4 20.01%, #1271d2 40%, #0E58A4 40.1%, #1271d2 60%, #0E58A4 60.01%, #1271d2 80%, #0E58A4 80.01%, #1271d2 100%);
    background-image: -webkit-gradient(left,#0E58A4 0%, #1271d2 20%, #0E58A4 20.01%, #1271d2 40%, #0E58A4 40.1%, #1271d2 60%, #0E58A4 60.01%, #1271d2 80%, #0E58A4 80.01%, #1271d2 100%);
    background-image: -moz-linear-gradient(left,#0E58A4 0%, #1271d2 20%, #0E58A4 20.01%, #1271d2 40%, #0E58A4 40.1%, #1271d2 60%, #0E58A4 60.01%, #1271d2 80%, #0E58A4 80.01%, #1271d2 100%);
    background-image: -ms-linear-gradient(left,#0E58A4 0%, #1271d2 20%, #0E58A4 20.01%, #1271d2 40%, #0E58A4 40.1%, #1271d2 60%, #0E58A4 60.01%, #1271d2 80%, #0E58A4 80.01%, #1271d2 100%);
}
.navbar {
    background-color:#FFF;
    opacity: 0.94;

}

.navbar-brand {
    padding:10px
}

.navbar-default .navbar-brand {
    color:#333
}

.navbar-nav {
    float:right
}

.navbar-toggle {
    margin:15px;
    padding: 8px 6px;
}

.navbar-collapse {
    padding-right:45%
}

.navbar-default .navbar-toggle {
    background-color: #FFFFFF;

}

.navbar-default .navbar-toggle .icon-bar {
    background-color:#1271d2;
    height: 1px;  
    margin: 4px;  
}

.navbar-default .navbar-nav>li>a {
    color:#333;
    -webkit-transition:color .4s;
    -moz-transition:color .4s;
    margin:10px 0 0
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {
    color:#428bca;
    -webkit-transition:color .1s;
    -transition:color .1s
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
    color:#1271d2;
    background-color:transparent
}

.container>.navbar-header,.container-fluid>.navbar-header {
    height:70px
}

@media(min-width:767px) {
.navbar {
    -webkit-transition:background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition:background .5s ease-in-out,padding .5s ease-in-out;
    transition:background .5s ease-in-out,padding .5s ease-in-out
}

.top-nav-collapse {
    padding:10px
}
}

/*===== GENERAL CONTENT CLASSES =====*/
.body-container {
    padding:0 0px;
    background-color:#F2F2F2;
    box-sizing:padding-box;
	width: 100%;
    
}
.centered-container {
    width:auto;
    padding:15vh 0 0;
    text-align:center
}

.section-container {
    width:100%;
    padding:100px 0 100px;
    text-align:center;
	max-width:900px;
	margin: auto;
}

.subsection-container{
    padding: 20px;
    margin: 30px;
    background-color: #FFF;
}

.content-section {
    width:92%;
    margin:30px auto;
    padding:20px 40px;
    background-color:#FFF;
    
    /* 
    background-color:rgba(255,255,255,.2);   
    border: solid #494949 1px;

    */
}

.small-image {
    height:80px;
    margin:10px
}
.expandable-image{
    max-width: 100%;
    max-height: 200px;
    width: auto;
}

.display-block{
    display: block !important;
}

.bottom-border{
    border-bottom: 1px solid #333;
    display: inline-block;
    padding:8px;
    margin: 10px;
}
.project-container, .project-container:focus, .project-container:hover, .project-container:active{
	display: flex;
    align-items: center;
	width:92%;
    padding:20px 20px;
    color: #333;
    text-decoration: none;
}

/*===== SPECIFIC CLASSES =====*/

/* -- HERO -- */
#hero {
    padding-top:110px;
    padding-bottom:100px;
    background-image:url(../img/hero.png);
    background-attachment: fixed;
    background-position-x: 0%;
    background-position-y: 50%;
    background-repeat:no-repeat;
    background-size: cover;
	height: 100vh;
    min-height: 400px;
    background-color:#292929; 
    display: block;
}

#hero-title {
    font-size:12vh;
    font-family:'lato',Arial,sans-serif;
    font-weight:400;
    color: #ffffff;
    margin: 3px 10px;
}

#hero-subtitle{
    font-weight:300; 
}



.scroll-down{
    text-align: center;
	height: 48px;
    width: auto;
	padding: 1px;
    display: block;
}

#hero .scroll-down .btn{
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100% !important;
    line-height: 50px;
    padding: 0;
    letter-spacing: normal;
    color: white;
    font-size: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/* -- ABOUT -- */
#myAvatar {
    margin: 10% auto;
    width:92%;
	border-radius: 10px;
	-webkit-box-shadow: -2px -1px 43px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -1px 43px -9px rgba(0,0,0,0.75);
    box-shadow: -2px -1px 43px -9px rgba(0,0,0,0.75);
}

#about-image{
	width: 38%;
	padding-left: 4%;
    display: inline-block
}

#about-desc{
	width: 60%;    
}

#about-desc p {
    font-size: 12pt;
}

#about-title{
    color: #333;
    font-size: 55px;
}

.button, .button:hover, .button:active{
    margin-top: 10px;
	padding:15px;
	color: #fff;
	border: none;
	background: #cc2020;
    border-radius: 0;
}

/*-- EDUCATION --*/

#education{
    background-image:url(../img/content/education/poly.png);
    background-attachment: fixed;
    background-position-x: 0%;
    background-position-y: 50%;
    background-repeat:no-repeat;
    background-size: cover;
}

.split-list {
    display: inline-block;
    padding: 0 12px;
    list-style: none;
    margin: 0;
    width: 45%;
}

.split-list>li{
    margin: 3px;
}
.section-splitter-xsmall {
    width:60px;
    margin:3px auto;
    border-bottom:solid 1px #494949;
}

/*-- SKILLS --*/

.small-image-container{
    display: inline-block;
    width: 100px;
    margin: 15px;
}

.proficiency{
    display: inline-flex;
    float: left;
    height: 8px;
    background-color: #fff;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    width: 100%;
}

.proficiency>span{
    background-color: #DDDDE6;
}

.mild{
    width: 30%;    
}

.medium{
    width: 55%;
}

.hot{
    width: 80%;
}

.spicy{
    width: 95%;
}

/*-- PROJECTS --*/

#projects{
    background-image:url(../img/content/projects/background.png);
    background-attachment: fixed;
    background-position-x: 0%;
    background-position-y: 50%;
    background-repeat:no-repeat;
    background-size: cover;
    background-color:#292929; 
}

/*========= MOBILE ADJUSTMENTS =========*/

@media (max-width: 767px) {
.project-container, .project-container:focus, .project-container:hover, .project-container:active{
    display: block;
    overflow: hidden;
}
.expandable-image{
    max-height: 200px;
}
.body-container {
    padding:0 0px
}

#hero {
    background-position-y: 60%;
    padding-top: 100px;
}
#about-image{
	width: 50%;
	padding-left: 2%;
}
#about-desc{
	width: 90%;
    text-align: center;
    }
}


/*===== TEXT FORMATTING =====*/

h4{
    font-size: 22px;
    font-weight: 100;

}

h5{
    font-size: 16px;
    font-weight: 100;
    margin-top: 8px;
    margin-bottom: 8px;
}

hr{
    width: 60vw;
    max-width: 200px;
    height: 2px;
    border-top: 1px solid #667788;
    border-bottom: 1px solid #667788;
}

strong{
    color: #1271d2;
	font-weight: normal;
}

input{
	padding:10px;
	width:85%
}

input.button{
	width:30%;
	color: #fff;
	margin-bottom: 100px;
}

textarea{
	width: 85%;
	padding:10px;
	height: 150px;
	margin-bottom: 10px;
}

form p {
padding: 0;
margin: 0;
}

form p input, form p textarea {
padding: 15px;
margin: 10px ;
background-color: #667788;
border: none;
}

.thin{
    font-weight: lighter!important;
}

.thick{
    font-weight: normal;
}

.text-padding{
	padding: 2%;
	display: inline-block;
	vertical-align: middle;
}

.blue{
    color: #1271d2;
}

.blue-border{
    border-color: #1271d2;
}

.white-border{
    border-color: #fff;
}

.remove-border{
    border: none;
}

.red{
    color: #cc2020;
}

.text-left{
	text-align:left;
}

.text-center{
	text-align: center;
}

.text-justified{
	text-align: justified;
}
	
.section-title {
    font-family: 'lato',Arial,sans-serif;
	font-size: 48px;
    font-weight: bold;
    margin-top:30px;
    margin-bottom: 10px;
    color: #333;
}

.subsection-title {
    font-weight:lighter;
}

.subtitle {
    font-size: 6vh;
    font-family:'lato', Arial,sans-serif;
    margin: 20px;
    color: #ffffff;
}

#about{
	background-color:  #FFFFFF;
     /* #1271d2; */
}

#skills{
    background-color: #ECECEC;
}

#experience{
    background-color: #667788;
}

#experience .section-title, #projects .section-title{
    color: White;
    font-weight: normal;
}

#contact{
    overflow: hidden;
}
